#grad {
    background-image: linear-gradient(blue, white);
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 20.0%;
  padding: 5px;
}

.left_column {
  float: left;
  width: 80.0%;
  padding: 5px;
}

.right_column {
  float: right;
  width: 20.0%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.page_title {
    font-size: 40px;
    color: white;
}

.tag_line {
    font-size: 20px;
    font-style: italic;
    color: white;
}

.center_column_tag_line {
    font-size: 40px;
    color: white;
}

footer {
    position: relative;
    height: 80px;
    width: 100%;
    background-color: #dedddd;
}

p.copyright {
    position: absolute;
    width: 100%;
    color: black;
    text-align: center;
    bottom:0;
}

.left_text_column {
    float: left;
    width: 25.0%;
    padding: 5px;
    padding-left: 20px;
}

.center_text_column {
    float: left;
    width: 50.0%;
    padding: 5px;
}

.right_text_column {
    float: right;
    width: 25.0%;
    padding: 5px;
    padding-right: 20px;
}

.text {
    font-size: 20px;
    font-style: italic;
    color: white;
}

.column_title {
    font-size: 20px;
    font-style: italic;
    color: red;
}

body {
    background: black;
}

.small_image {
    width: 222px;
    height: 222px;
}
